#PCMenu{
	display:none;
}

#SmartNavi{
	top: 0;
	left: 0;
	position:absolute;
	background-color: rgba(252,227,233,0.8);
	display:table-cell;
	z-index:3;
	border: 2px solid #fff;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#SmartNavi h1 {
	margin:0;
	padding:0;
	margin-bottom: 5%;
	padding-left:10%;
	background-color:#c9171e;
	color:#fff;
	font-size: 150%;
	text-align: left;
	border-top: 2px solid #fff;
	border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	background-image: url("/img/boxpoint.png");
	background-repeat: no-repeat; 
	background-position: left bottom;
	background-size:contain;
}

#SmartMenu{
	display:none;
	top: 0;
	left: 0;
	position:absolute;
	width: 100%;
	padding-bottom: 5%;
	background-color: rgba(252,227,233,0.8);
	color: #432f2f;
	border: 2px solid #fff;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#SmartMenu h1 {
	margin:0;
	padding:0;
	margin-bottom: 5%;
	padding-left:10%;
	background-color:#c9171e;
	color:#fff;
	font-size: 150%;
	text-align: left;
	border-top: 2px solid #fff;
	border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	background-image: url("/img/boxpoint.png");
	background-repeat: no-repeat; 
	background-position: left bottom;
	background-size:contain;
}

#container{
	width: 100%;
}

#button{
	font-size: 120%;
}

#box {
	font-size: 100%;
	width: 92%;
	margin: 2%;
	padding: 2%;
	margin-bottom: 10%;
}

#box h1 {
	font-size: 120%;
	padding-left:10%;
}

#nameform{
	text-align: left;
	width: 92%;
	margin: 2%;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 2%;
	font-size:20px;
	font-weight: bold;
}

input[type="text"]{
	width:92%;
	font-size:20px;
}
